<h2>Get request</h2>
<table>
<tr>
  <th>id</th>
  <th>name</th>
</tr>
<label >
  name:
  <input type="text" (change)="onNameChanged($event)" />
</label>
<br/>
<label >
  image:
  <input type="file" (change)="onImageChanged($event)" />
</label>
<br/>
<button (click)="newBook()">Add New Image</button>


<tr *ngFor="let image of images">
  <td>{{image.id}}</td>
  <td>{{image.name}}</td>
</tr>
<br/>
</table>
<img src="http://127.0.0.1:8000/media/WhatsApp_Image_2020-10-20_at_19.17.04.jpeg" alt="didnt work here">

