
<h2>Gallery</h2>


<label >
  Name:
  <input type="text" (change)="onNameChanged($event)" />
</label>
<label >
  Description:
  <input type="text" (change)="onDescriptionChanged($event)" />
</label>
<label >
  Image:
  <input type="file" (change)="onImageChanged($event)" />
</label>
<button (click)="newBook()">Add New Image</button>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
<tr *ngFor="let image of images">
  <td>{{image.id}}</td>
  <td>{{image.name}}</td>
  <td> <img src={{image.image}} alt="loading"> </td>
</tr>
<br/>
</table>

